body {
    font-family: 'Hedvig Letters Serif', serif;
    box-sizing: border-box;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 0 0;
    border-color: #33c4b6 transparent;
    top: 0;
    left: 0;
}

.triangle i {
    position: relative;
    top: -72px;
    left: -16px;
    color: #fff;
    font-size: 36px;
}

.hr-text {
    border: none;
    border-top: 3px solid gray;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    height: 0;
    overflow: visible;
}

.hr-text-after {
    font-size: 24px;
    color: #33c4b6;
    position: relative;
    top: -18px;

}

.hr-text-after span {
    background-color: #fff;
    border: 3px solid #e8e8e8;
    border-radius: 50px;
    padding: 2px 5px;
}

i {
    padding-left: 1.6rem;
}

.card-second {
    border: 4px solid #e8e8e8;
    transition: transform 0.8s;
}

.card-second:hover {
    transform: translate(0, -8%);
    cursor: pointer;
}

.card-third h3{
    color: gray;
}

.card-third p{
    color: #66CCCC;
}

.card-third:hover {
    box-shadow: 0 4px 8px 4px #0000001A, 0 4px 6px -2px #0000000D;
}

.card-third:hover .btn-third::after {
    opacity: 1;
    height: 100%;
    padding: 0 1rem;
    margin-left: 0;
}

.btn-third {
    background-color: #66CCCC;
    transition: all .3s ease-in-out;
    color: #fff;
}

.btn-third:hover {
    background-color: #575555;
    color: #fff;
}

.btn-third:hover::after {
    background-color: #575555;
}

.btn-third::after {
    content: ">";
    font-size: 2.4rem;
    background-color: #66CCCC;
    opacity: 0;
    float: right;
    transition: all .3s ease-in-out;
}

.card-services ul hr {
    border: none;
    border-top: 2px dashed #998eff;
}

.card-services ul li {
    text-wrap: nowrap;
}

.card-fourth .offers li {
    margin-bottom: 2rem;
}

.card-fourth a {
    background-color: #998eff;
}

.card-fourth a:hover {
    background-color: #566270;
}

.card-checks .card-header,
.card-checks .card-list-price {
    color: #998eff;
    min-width: fit-content;
}

.card-list-item-in{
    display: none;
    padding-left: 1.6rem;
}

@media screen and (max-width: 1470px) {

    .card-second .card-title,
    .card-third .card-header {
        font-size: 40px;
    }

    .card-services li {
        font-size: 19px;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 1400px) {

    .card-services li {
        font-size: 17px;
        padding-bottom: 3px;
    }
}

@media screen and (max-width: 1280px) {

    .card-second .card-title,
    .card-third .card-header {
        font-size: 30px;
        padding-top: 10px;
    }

    .card-services li {
        font-size: 15px;
        padding-bottom: 6px;
    }
}

@media screen and (max-width: 1200px) {

    .card-services-col{
        display: none;
    }

    .card-list-item-in{
        display: block;
    }

    .row{
        display: flex;
        justify-content: center;
    }
}